.footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 20px;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  font-size: 0.8rem;
  color: #666;
  margin: 0;
}